.all-handbook-container {
    padding: 20px 100px;

    .line-filter {
        display        : flex;
        gap            : 5px;
        justify-content: flex-end;
        padding        : 10px 5px 20px 5px;

        .select-specialty {
            width: 170px;
        }

        input {
            height       : 35px;
            width        : 230px;
            border-radius: 7px;
            border       : 1px solid #dee2e6;
            outline      : none;
            text-indent  : 5px;

            &:focus {
                border-color: #6366f1;
                box-shadow  : 0 0 5px rgba(99, 102, 241, 0.4);

            }

            &::placeholder {
                color      : #dee2e6;
                font-size  : 13px;
                font-family: 'Roboto', sans-serif;
            }
        }

        button {
            margin-right    : 10px;
            height          : 35px;
            min-width       : 100px;
            border          : none;
            outline         : none;
            background-color: #06adef;
            border-radius   : 8px;
            font-weight     : 500;
            color           : white;
            font-family     : Mulish, sans-serif;

            &:hover {
                opacity: 0.7;
            }

            &.refresh {
                background-color: white;
                border          : 1px solid #dee2e6;
                color           : black;
                margin-left     : -10px;
            }
        }
    }

    .card {
        border-radius: 15px;
        overflow     : hidden;
        cursor       : pointer;


        .card-img-top {
            background-position: center center;
            background-repeat  : no-repeat;
            background-size    : cover;

            &.first {
                height: 365px;
            }

            &.second {
                border-radius: 15px;
                width        : 150px;
                height       : 120px;
                margin       : 10px 10px 0 0;
            }

            &.thirst {
                height: 130px;
            }
        }

        &.handbook-right {
            display       : flex;
            flex-direction: row;
            height        : 250px;
        }

        .card-body {
            font-family: Mulish, sans-serif;

            .card-title {
                font-size  : 21px;
                font-weight: 700;
                margin     : 10px 0 15px 0;
            }

            .name-specialty {
                font-size: 16px;

            }

            .author {
                font-size: 13px;

                span {
                    color: #06adef
                }
            }
        }
    }

    // .parent-handbook {
    //     height: 250px;
    // }
}

.link-navigation {
    padding        : 0 200px;
    padding-top    : 15px;
    display        : flex;
    justify-content: flex-start;


    i {
        color: #06adef;
    }

    .custom-link-navigation {
        cursor         : pointer;
        font-family    : Mulish, sans-serif;
        font-size      : 14px;
        color          : #06adef;
        margin-left    : 5px;
        text-decoration: none;
        font-weight    : 600;

        &:hover {
            opacity        : 0.9;
            text-decoration: underline;
        }
    }

    span {
        font-family    : Mulish, sans-serif;
        font-size      : 14px;
        color          : #06adef;
        margin-left    : 5px;
        text-decoration: none;
        font-weight    : 600;
    }
}