.manage-specialty-container {
    padding         : 15px;
    background-color: #F8F9FA;

    .ms-title {
        text-transform: uppercase;
        padding-top   : 20px;
        font-weight   : 600;
        font-size     : 20px;
        text-align    : center;
        color         : #06adef;
    }




    .table-clinics {
        background-color: white;
        padding         : 30px;
        border-radius   : 10px;

        .title-table {
            margin-bottom: 20px;

            span {
                font-size  : 18px;
                font-weight: bold;

                color: #333;
            }
        }

        .line-search {
            display        : flex;
            gap            : 7px;
            justify-content: flex-end;

            .inp-search {
                input {
                    text-indent  : 5px;
                    height       : 32px;
                    width        : 230px;
                    border-radius: 7px;
                    border       : 1px solid #dee2e6;
                    outline      : none;
                }

                input:focus {
                    border-color: #6366f1;
                    box-shadow  : 0 0 5px rgba(99, 102, 241, 0.4);
                    outline     : none;
                }
            }

            .btn-search {
                button {
                    width           : 110px;
                    height          : 32px;
                    background-color: #06adef;
                    font-family     : 'Roboto', sans-serif;
                    font-size       : 13px;
                    border          : none;
                    border-radius   : 5px;
                    color           : white;

                    &:hover {
                        opacity: 0.9;
                    }
                }

            }

            .btn-show-modal-add {
                button {
                    width           : 110px;
                    height          : 32px;
                    background-color: #06adef;
                    font-family     : 'Roboto', sans-serif;
                    font-size       : 13px;
                    border          : none;
                    border-radius   : 5px;
                    color           : white;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }

        }


        .table {
            // border-spacing   : 0;
            border: 1px solid #dee2e6;

            .col1 {
                width: 5%;
            }

            .col2 {
                width: 20%;
            }

            .col3 {
                width: 5%;
            }

            .col4 {
                width: 35%;
            }

            .col5 {
                width: 15%;
            }

            .col6 {
                width: 10%;
            }

            .first {
                text-align: center;
            }

            .bg-image {
                width              : 70px;
                height             : 70px;
                border             : none;
                border-radius      : 50%;
                background-position: center center;
                background-repeat  : no-repeat;
                background-size    : cover;
            }

            thead {

                th {
                    border        : 1px solid #dee2e6 !important;
                    text-align    : left;
                    vertical-align: middle;
                }


            }


            tbody {
                tr {
                    background-color: white;

                    &:hover {
                        background-color: #f0f0f0 !important;
                    }
                }

                td {
                    font-size     : 13px;
                    border        : 1px solid #dee2e6 !important;
                    text-align    : left;
                    vertical-align: middle;
                    padding       : 8px;
                    font-family   : 'Roboto', sans-serif;

                }
            }

        }

    }

}