.home-header-container {
    height          : 65px;
    width           : 100%;
    padding         : 0 40px;
    background-color: #f1f6ff;
    position        : sticky;
    top             : 0;
    z-index         : 100;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;

        .left-content {
            width         : 30%;
            // width      : 20%;
            display       : flex;
            align-items   : center;

            i {
                color    : grey;
                font-size: 125px;
                cursor   : pointer;
            }

            .header-logo {
                cursor        : pointer;
                margin-top    : 5px;
                margin-left   : 154px;
                // transform  : scale(0.5, 0.5);
            }
        }

        .center-content {
            // width          : 55%;
            width          : 40%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            .child-content {
                .subs-title {
                    font-size  : 12px;
                    font-weight: 400;
                }

                .url-header {
                    color          : #0b3052;
                    font-family    : Mulish, sans-serif;
                    text-decoration: none;
                }
            }
        }

        .right-content {
            // width          : 25%;
            width          : 30%;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;
            padding-right  : 154px;

            .support {
                padding-right  : 10px;
                display        : flex;
                align-items    : center;
                margin         : 4px 10px;
                font-weight    : 600;
                font-family    : Mulish, sans-serif;
                font-size      : 16px;
                text-decoration: none;
                color          : #0b3052;
                cursor         : pointer;
                outline        : none;

                .link-login-header {
                    font-weight    : 600;
                    font-family    : Mulish, sans-serif;
                    font-size      : 16px;
                    text-decoration: none;
                    color          : #0b3052;
                    outline        : none;
                }

                button {
                    line-height     : 1;
                    padding         : 12px 35px;
                    border-radius   : 50px;
                    outline         : 0;
                    border          : none;
                    cursor          : pointer;
                    background-color: #ff3259;
                    margin-left     : 10px;
                    color           : white;
                    font-weight     : 600;
                    font-family     : Mulish, sans-serif;
                    outline         : none;

                    .link-register-header,
                    .link-logout-header {
                        font-family    : Mulish, sans-serif;
                        color          : white;
                        font-weight    : 600;
                        text-decoration: none;
                        outline        : none;
                    }
                }
            }

            .language-vi {
                cursor : pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {
                        color: red;
                    }

                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                margin : 0 10px;
                cursor : pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {
                        color: blue;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.home-header-banner {
    background-image   : url('../../assets/images/banner.jpg');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: 100% 100%;
    height             : 115vh;
    width              : 100vw;
    display            : flex;
    flex-direction     : column;

    .content-up {
        padding-top    : 40px;
        height         : 100%;
        display        : flex;
        justify-content: center;
        flex-direction : column;
        align-items    : flex-start;
        padding        : 0 200px;
        padding-top    : 200px;

        .text-banner {
            color         : #0b3052;
            letter-spacing: 1px;
            line-height   : 1.2;

            .h1-text {
                display       : flex;
                flex-direction: column;
                font-weight   : 300;
                font-size     : 35px;
            }

            .devider {
                font-size  : 45px;
                font-weight: 700;
            }
        }

        .btn-register-banner {
            button {
                max-height      : 100px;
                background-color: #06adef;
                border-radius   : 50px;
                padding         : 12px 35px;
                border          : none;
                cursor          : pointer;
                margin-top      : 25px;

                span {
                    color      : white;
                    font-size  : 17px;
                    font-weight: 600;
                    font-family: Mulish, sans-serif;
                }

                i {
                    margin-right: 13px;
                    font-size   : 16px;
                    color       : white
                }

                &:hover {
                    background-color: #04a3e1;
                }
            }
        }

    }


    .curve-header-parent {
        background-color   : transparent !important;
        // margin-top      : 200px;


        .curve-header {
            width: 100vw;
        }
    }


}

.back-to-top.show {
    opacity   : 1;
    visibility: visible;
    z-index   : 999900000000;
}

.back-to-top:hover {
    background-color: #007acc;
}