.dashboard-container {
    background-color: #F8F9FA;

    .dashboard-body {
        padding: 20px 0;

        .content-up {
            .cards {
                display: flex;

                flex-direction : row;
                justify-content: space-between;
                gap            : 10px;


                .card {
                    background-color: white;
                    width           : 23%;
                    height          : 150px;
                    border-radius   : 10px;
                    border          : 1px solid #eaf1f8;

                    display       : flex;
                    flex-direction: column;
                    padding       : 25px;

                    // color: rgb(33 37 41 / 75%);


                    .title-card {
                        // background-color: red;
                        height     : 40%;
                        display    : flex;
                        align-items: center;
                        font-size  : 16px;
                        color      : black;
                    }

                    .value-card {
                        // background-color: green;
                        height     : 60%;
                        display    : flex;
                        align-items: center;
                        color      : black;
                        font-size  : 22px;
                        font-weight: 600;
                    }
                }
            }

        }

        .content-down {
            margin-top: 20px;




            .charts {
                display: flex;
                gap    : 30px;

                .line-btn {
                    padding        : 15px 20px;
                    width          : 100%;
                    display        : flex;
                    justify-content: space-between;

                    .title-chart {
                        font-size  : 16px;
                        font-weight: bold;
                        color      : #333;
                        font-family: "Public Sans", sans-serif;
                        padding-top: 10px;
                    }

                    .btn-change-chart {
                        button {
                            border : none;
                            padding: 7px 15px;
                            outline: none;

                            font-family     : "Public Sans", sans-serif;
                            font-size       : 15px;
                            border-radius   : 5px;
                            background-color: transparent;
                            color           : #06adef;

                            &.active {
                                background-color: #06adef;
                                color           : white;
                            }
                        }

                    }

                }

                .out-side-left {
                    width: 70%;

                    .chart-left {
                        width           : 100%;
                        background-color: white;
                        padding         : 60px 20px 40px 20px;
                        border-radius   : 10px;
                        border          : 1px solid #eaf1f8;

                        .line-chart {
                            max-height: 0;
                            overflow  : hidden;
                            opacity   : 0;
                            transform : scale(0.95);
                            transition: max-height 0.5s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out;

                            &.active {
                                max-height: 500px;
                                opacity   : 1;
                                transform : scale(1);
                            }
                        }

                    }

                }

                .chart-right {
                    width           : 35%;
                    background-color: white;
                    border          : 1px solid #eaf1f8;
                    padding         : 20px;
                    border-radius   : 10px;

                    .text-revenue {
                        display       : flex;
                        flex-direction: column;
                        gap           : 5px;
                        font-family   : "Public Sans", sans-serif;

                        .text-up {
                            color    : grey;
                            font-size: 15px;

                        }

                        .text-down {
                            color      : black;
                            font-size  : 19px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .content-table {
            padding-top: 30px;

            .table {
                // border-spacing   : 0;
                border: 1px solid #dee2e6;

                .col1 {
                    width: 5%;
                }

                .col2 {
                    width: 20%;
                }

                .col3 {
                    width: 10%;
                }

                .col4 {
                    width: 20%;
                }

                .col5 {
                    width: 15%;
                }

                .col6 {
                    width: 10%;
                }

                .col7 {
                    width: 10%;
                }

                .first {
                    text-align: center;
                }

                .bg-image {
                    width              : 70px;
                    height             : 70px;
                    border             : none;
                    border-radius      : 50%;
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                }

                thead {

                    th {
                        border        : 1px solid #dee2e6 !important;
                        text-align    : left;
                        vertical-align: middle;
                    }


                }


                tbody {
                    tr {
                        background-color: white;

                        &:hover {
                            background-color: #f0f0f0 !important;
                        }
                    }

                    td {
                        font-size     : 13px;
                        border        : 1px solid #dee2e6 !important;
                        text-align    : left;
                        vertical-align: middle;
                        padding       : 8px;
                        font-family   : 'Roboto', sans-serif;
                    }
                }

            }
        }
    }
}