.table {
    // border-spacing   : 0;
    border: 1px solid #dee2e6;

    .first {
        text-align: center;
    }

    thead {

        th {
            border        : 1px solid #dee2e6 !important;
            text-align    : left;
            vertical-align: middle;
        }


    }


    tbody {
        tr {
            background-color: white;

            &:hover {
                background-color: #f0f0f0 !important;
            }
        }

        td {
            font-size     : 13px;
            border        : 1px solid #dee2e6 !important;
            text-align    : left;
            vertical-align: middle;
            padding       : 8px;
            font-family   : 'Roboto', sans-serif;
        }
    }

}