.verify-email-container {
    .info-booking {
        font-size     : 17px;
        font-weight   : 600;
        text-transform: uppercase;
        color         : #06adef;
        text-align    : center;
        margin-top    : 30px;
    }
}