.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin        : 15px 0 15px 0;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
    }

    .pick-hour-container {
        height: 500px;
    }
}